<div class="container-fluid text-center">
  <br />
  <h1>Nosotros</h1>
  <h5>
    Nos dedicamos a la venta de todo tipo de articulos Pokemon desde videojuegos
    hasta figuras coleccionables.
  </h5>
  <br />
  <img
    src="https://sm.ign.com/ign_es/lists/e/every-poke/every-pokemon-game-on-the-nintendo-switch-in-2024_vgxa.jpg"
    alt="img1"
    class="img-fluid"
    style="object-fit: cover; width: auto; height: 300px"
  />
  <br />
  <br>
  <h1>Valores</h1>
  <br>
  <div class="d-flex gap-5 justify-content-center">
    <div class="card" style="width: 18rem">
      <img
        src="https://easycdn.es/1/imagenes/pokemaster_332236.jpg"
        class="card-img-top"
        alt="img1"
        style="object-fit: cover; height: 155px;"
      />
      <div class="card-body">
        <h5 class="card-title">Videojuegos</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="https://assets.isu.pub/document-structure/210405202957-4f9bb1b9ccc0600854b2698babdc5f08/v1/3c617d872690da3721ba8e4c9dc08f52.jpg"
        class="card-img-top"
        alt="img2"
      />
      <div class="card-body">
        <h5 class="card-title">Informacion</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="https://debsdesignweb.com/media/img/pictures/sliders/sectionSlider/sectionSlider-lrg/pokemon.jpg"
        class="card-img-top"
        alt="img3"
      />
      <div class="card-body">
        <h5 class="card-title">Merchandising</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <br>
</div>
